<!DOCTYPE html>
<html>
    <head>
        <title>wicrypt splash screen</title>
    </head>

    <body>
        <p>Simple splash for merchant 2</p>
        <p> This merchant only shows a promo or other information. <br> Hence, a click on the next button should automatically take the user to the next page.</p>
    <form action="/main" method="POST">
        <button type="submit">Next</button>
    </form>
    <a href="/">Home</a>
    </body>
</html>