<!DOCTYPE html>
<html>
    <head>
        <title>wicrypt splash screen</title>
    </head>

    <body>
        <img src="<%= merchant.logo %>">
        <p><%= merchant.html_page %></p>
        <form action="/" method="POST">

            <input type="text" name="email" placeholder="enter email">
            <input type="text" name="userId" placeholder="enter userId">
            <input type="text" name="referral" placeholder="referrer id">
            <button type="submit">Submit</button>

        </form>
        <a href="/">Home</a>
    </body>
</html>