<!DOCTYPE html>
<html>
    <head>
        <title>wicrypt splash screen</title>
    </head>

    <body>
        <p>Simple splash for merchant 1</p>
        <form action="/" method="POST">

        <input type="text" name="email" placeholder="enter email">
        <input type="text" name="username" placeholder="enter username">
        <input type="text" name="referrer" placeholder="referrer id">
        <button type="submit">Submit</button>

        </form>
        <a href="/">Home</a>
    </body>
</html>